body {
    font-size: 18px;
    font-family: 'Noto Serif', serif;
    padding: 10px;
    margin: auto;
}

main {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    font-size: 0.8rem;
}

main section {
    font-size: 18px;
    margin: 0.5rem;
    border: 1px solid #bbb;
    padding: 5px;
    background-color: grey;
}

main section:nth-child(2) {
    display: block;
    margin: 0.5rem;
}

footer {
    text-align: center;
    border-radius: 25px;
    padding: 20px;
}

header {
    text-align: center;
    border-radius: 25px;
    padding: 10px;
}

h3{
    border-radius: 25px;
    color: white;
    background-color: grey;
    padding: 3px;
    text-align: center;
  }

  h2{
    border-radius: 25px;
    color: black;
    background-color:  grey;
    padding: 3px;
    text-align: center;
  }

  a {
    text-align: center;
    font-size: 14px;
  }
  
  img {
      width: 100%;
  }