@media only screen and (min-width: 32.5em) {
	.column {
		width: 60%;
	}
	.articaldiv img{
		float: right;
	}
	.contactdiv img {
		float: left;
		width: 300px;
		display: block;
	}
	.contactinfo {
		padding: 3rem;
		margin-top: 3rem;
	}
	.forcast {
		font-size: 14px;
		top: 25px;
		left: 25px;
	}
}