body {
    font-family: 'Noto Serif', serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.sub {
	font-style: italic;
	letter-spacing: 1pt;
	color: black;
	margin-left: 20px;
	font-size: .9rem;
}
.contentbox {
	display: block;
	margin: 0px auto;
	border: 1px dashed black;
	padding: 15px;
	background-color: white;
	color: grey;
	font-style: italic;
}
header {
	padding: 5px 0;
}
header img {
	width: 80px;
	height: auto;
}
.heading {
	display: flex;
	flex-direction: column;
}
.heading h1{
	font-size: 1.6rem;
	margin: 0 0 0 17px;
}
header,
footer {
	background-color: grey;
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;
	padding: 10px;
}
h1 {
	font-size: 1.1rem;
}
h2 {
	text-align: center;
	color: black;
}
.hero-img {
	width: 960px;
	margin: 10px auto;
	background-color: #eee;
	border: 1px solid #333;
}
.herodiv {
	margin: 10px auto;
	position: relative;
	border: 1px grey;
	width: 100%;
	height: auto;
}
.forcast {
	position: absolute;
	top: 5px;
	left: 5px;
	background: radial-gradient(grey, lightgrey);
	border: 1px solid grey;
	padding: .5rem;
	box-shadow: 0 0 30px #777;
	font-size: 10px;
	width: auto;
	height: auto;
}

.articlediv {
	margin: 10px auto;
	border: 1px grey;
	width: 960px;
	height: auto;
	background-color: #eee;
	padding: auto;
}
.articlediv img {
	width: 100%;
	height: auto;
	background: radial-gradient(grey, lightgrey);
	border: 1px solid grey;
	padding: .5rem;
	box-shadow: 0 0 30px #777;
}

nav {
	margin: 0 auto;
	max-width: 100%;
	background-color: grey;
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
}
.navigation a:hover {
	color: white;
	background-color: black;
}
.responsive li {
	display: block;
}
footer {
	height: 10rem;
}
.column-col {
	border-bottom: 1px solid #333;
	border-left: 1px solid #333;
	text-align: center;
	background-color: lightgray;
}
.column-col:hover {
	opacity: 0.75;
	background-color: black;
	color: white;
}
.column {
	border-right: 1px solid #333;
	column-count: 5;
	column-gap: 0;
	margin: 10px auto;
	background-color: #eee;
	border: 1px solid #333;
}

.col-head {
	display: block;
	padding: 5px;
	border-bottom: 1px solid #333;
	text-align: center;
}

.weather-img {
	border-radius: 100px;
	padding: 0.25rem;
}

.data {
	display: block;
	padding: 0 5px 5px;
	font-size: 0.8rem;
	text-align: center;
}

.col-head {
	font-weight: 700;
	font-size: 1rem;
	background-color: black;
	color: white;
}
.column img {
	width: 25%;
}
.contactdiv {
	background-color: lightgray;
	width: auto;
	height: auto;
	font-size: 14px;
	padding: 1rem;
	display: flex;
	margin: 10px auto;
	text-align: center;
}
.contactinfo {
	margin: 0 auto;
}
.contactdiv img {
	width: 0px;
}